@media (max-width: 1230px) {
    .contact__inner {
        padding-left: 0;
    }
    .moreabout__inner {
        display: block;
    }
    .moreabout__gallery {
        max-width: 100%;
    }
    .moreabout__opening {
        margin: 50px auto 0;
    }
    .reservation__home {
        .reservation__box {
            padding-right: 0;
            padding-left: 130px;
        }
    }
}

@media (max-width: 1080px) {
    .contact__inner {
        display: block;
    }
    .contact__pictures {
        height: 400px;
    }
    .contact__box,
    .contact__inner {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .contact__photo1 {
        position: relative;
        margin: 0 auto;
    }
    .contact__photo2 {
        position: absolute;
        margin: 0 auto;
    }
    .contact {
        padding-bottom: 0;
    }
    .location-map {
        margin-top: 60px;
    }
    .happy {
        padding: 50px 0;
    }
    .about__inner {
        padding-left: 0;
    }
    .reservations__box {
        padding-right: 0;
    }
    .about__inner {
        display: block;
        padding-left: 0;
    }
    .about__box,
    .about2 .contact__box {
        text-align: center;
        padding: 0;
        margin-top: 300px;
    }
    .about__pictures .about__photo1,
    .about2 .contact__pictures .contact__photo1 {
        margin: 0 auto;
    }
    .about__pictures .about__photo2,
    .about2 .contact__pictures .contact__photo2 {
        margin: 0 auto;
    }
    .about {
        padding-bottom: 0;
    }
    .about2 .contact__box {
        margin-top: 190px;
    }
    .online-res .about__box {
        margin-top: 200px;
    }
    .about__home {
        .about__box {
            padding-bottom: 30px;
        }
    }
    .menu__home {
        .menu__pictures {
            .menu__photo1,
            .menu__photo2 {
                margin: 0 auto;
            }
        }
        .menu__inner {
            padding-left: 0;
            display: block;
        }
        .menu__box {
            text-align: center;
            padding: 0;
            margin-top: 200px;
        }
    }
    .reservation__home {
        .reservation__inner {
            display: block;
            padding-left: 0;
        }
        .reservation__pictures {
            .reservation__photo1,
            .reservation__photo2 {
                margin: 0 auto;
            }
            .reservation__photo2 {
                left: 0;
                right: -150px;
            }
        }
        .reservation__box {
            padding: 0;
            text-align: center;
            margin-top: 200px;
        }
    }
    .blog__home {
        padding-bottom: 60px;
        .blog__list {
            display: block;
        }
        .blog__list .blog__posts-post {
            margin: 50px auto;
            width: 400px;
            height: 350px;
        }
        .blog__list-item {
            padding: 0;
        }
        .blog__list .blog__posts-post__inner:hover {
            transform: scale(1.03);
        }
    }
    .contact__home {
        .contact__pictures {
            .contact__photo1,
            .contact__photo2 {
                margin: 0 auto;
            }
        }
        .contact__box {
            margin-top: 20px;
            padding-bottom: 70px;
        }
    }
    .lunch__home,
    .lunch {
        display: none;
    }
    .contact__one-page {
        .contact__pictures {
            .contact__photo1,
            .contact__photo2 {
                margin: 0 auto;
            }
        }
    }
    .online__one-page {
        padding-bottom: 0;
    }
    .menu__one-page {
        padding-bottom: 30px;
        padding-top: 60px;
    }
    .discvoerer__one-page {
        padding-top: 0;
    }
}

@media (max-width: 845px) {
    .header__menu-btn {
        margin-right: 10px;
        display: block;
    }
    .menu__nav > ul {
        display: none;
        position: absolute;
        z-index: 1;
        width: 100%;
        top: 100px;
        left: 0;
        right: 0;
        background-color: $poppy;
    }
    .menu__nav li {
        display: block;
        text-align: center;
    }
    .menu__nav li a{
        border-top: 2px solid $text;
    }
    .menu__nav a {
        padding: 14px 0 14px 0px;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 3px;
        color: #fff;
    }
    .menu__list li + li {
        margin-left: 0;
    }
    .menu__list a:hover {
        color:#fff;
    }
    .menu__list,
    .menu__list>li:last-child {
        padding-right: 0;
    }
    .menu__list-white>li:last-child,
    .menu__list>li:last-child {
        border-right: none;
        border-bottom: 2px solid $text;
    }
    .header__menu span.cart-number {
        top: -19px;
        right: 62px;
        color: #fff;
    }
    .header__menu span.cart-number__black {
        color: #000;
    }
    .about__inner {
        display: block;
    }
    .reservation__photo1,
    .reservation__photo2 {
        margin: 0 auto;
    }
    .about__pictures .reservation__photo2 {
        left: 130px;
    }
    .reservations__box {
        padding: 210px 20px 0;
    }
    .online__inner-fields {
        display: block;
    }
    .online__inner-fields .online__input-group:not(:first-child) {
        margin-left: 0;
        margin: 0 auto;
    }
    .online__input-group {
        margin: 0 auto;
    }
    .online__inner-fields .online__input-group:not(:first-child) {
        padding-right: 25px;
    }
    .online__inner-fields .online__input-group {
        width: 50%;
        padding-right: 6px;
    }
    .online-res .reservations__box {
        padding: 0px 20px 0;
    }
    .online-res .about__box {
        margin-top: 180px;
    }
    .testimonial__home {
        .testimonial__inner {
            display: block;
        }
        .testimonial__quote {
            margin-top: 35px;
        }
        .testimonial__img-wrapper img {
            margin: 0 auto;
        }
    }
    .services__home {
        .services__item {
            padding: 69px 12px;
        }
    }
    .gallery__one-page {
        .gallery__inner {
            display: block;
        }
        .gallery__box {
            text-align: center;
            margin-bottom: 35px;
        }
        .gallery__wrapper {
            margin: 0 auto;
        }
    }
}

@media (max-width: 761px) {
    .content__box-title {
     font-size: 200px;
    }
    .footer__inner {
        display: block;
        text-align: center;
    }
    .footer__socials {
        display: block;
    }
    .footer__inner {
        height: 220px;
    }
    .footer__logo-404 {
        margin-top: 25px;
    }
    .footer__socials-text {
        margin-bottom: 15px;
    }
    .footer__copyright {
        margin: 25px 0;
    }
    .contact__photo1 {
        margin: 0;
    }
    .contact__pictures .happy__photo1, .contact__pictures .happy__photo2 {
        width: 320px;
        height: 225px;
    }
    .happy__inner {
        flex-direction: column;
    }
    .happy__box {
        margin-left: 0;
        padding: 0;
        order: 1;
        margin-bottom: 45px;
    }
    .happy__form {
        order: 2;
    }
    
    .happy-form__submit {
        text-align: center;
    }
    .form__fields {
        margin: 0 -15px;
    }
    .menu-product__text {
        padding-right: 60px;
    }
    .about__pictures .about__photo1,
    .about2 .contact__pictures .contact__photo1 {
        width: 260px;
        height: 175px;
    }
    .about__pictures .about__photo2,
    .about2 .contact__pictures .contact__photo2 {
        width: 260px;
        height: 175px;
        top: 130px;
    }
    .about__box {
        margin-top: 170px;
    }
    .about2 .contact__box {
        margin-top: -40px;
    }
    .slider__home-item {
        min-height: 450px;
    }
    .home__box-title {
        font-size: 28px;
    }
    .home__wrapper {
        bottom: 50px;
    }
    .home__box {
        left: 0;
        bottom: 100px;
    }
    .menu__home {
        .menu__pictures {
            .menu__photo1,
            .menu__photo2 {
                width: 260px;
                height: 175px;
            }
            .menu__photo2 {
                top: 120px;
                right: 60px;
            }
        }
        .menu__box {
            margin-top: 150px;
        }
    }
    .reservation__home {
        .reservation__pictures {
            .reservation__photo1,
            .reservation__photo2 {
                width: 260px;
                height: 175px;
            }
            .reservation__photo2 {
                top: 120px;
                right: 60px;
                left: auto;
            }
        }
        .reservation__box {
            margin-top: 150px;
        }
    }
    .contact__home {
        .contact__pictures {
            .contact__photo1,
            .contact__photo2 {
                width: 260px;
                height: 175px;
            }
            .contact__photo2 {
                right: 60px;
                top: 120px;
            }
        }
        .contact__box {
            padding-top: 0;
            margin-top: -70px;
        }
    }
    .contact__one-page {
        .contact__pictures {
            .contact__photo1,
            .contact__photo2 {
                width: 260px;
                height: 175px;
            }
            .contact__photo2 {
                right: 60px;
                top: 120px;
            }
        }
        .contact__box {
            padding-top: 0;
            margin-top: -70px;
        }
    }
}

@media (max-width: 600px) {
    .about__pictures .reservation__photo1,
    .about__pictures .reservation__photo2 {
        width: 250px;
        height: 165px;
    }
    .about__pictures .reservation__photo2 {
        top: 105px;
        left: 70px;
    }
    .reservations__box {
        padding: 150px 20px 0;
    }
    .online-res {
        padding-bottom: 50px;
    }
    .discoverers .discoverer__photo1 {
        width: 240px;
        height: 165px;
        margin: 0 auto;
    }
    .discoverers .discoverer__photo2 {
        width: 240px;
        height: 165px;
        left: 0;
        top: 100px;
    }
    .discoverers .contact__pictures {
        height: 250px;
    }
    .tabs .tab+.tab {
        margin-left: 30px;
    }
    .menu-product__price {
        margin-left: 0px;
        position: absolute;
        padding-top: 0;
        margin-top: 90px;
    }
    .menu-product__thumb-img,
    .menu-product__thumb-link {
        width: 70px;
        height: 70px;
    }
    .menu-product__text {
        padding-right: 0;
        padding-left: 25px;
        padding-top: 0;
    }
    .discoverer-item__list-title {
        padding-left: 90px;
    }
    .discoverer-item__list {
        padding-top: 70px;
    }
    .menu-product__price {
        font-size: 21px;
    }
    .moreabout__gallery {
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        height: 700px;
    }
    .moreabout__opening {
        max-width: 300px;
    }
    .item:hover {
        flex: 5;
    }
    .online-res .about__box {
        margin-top: 145px;
    }
    .services__home {
        .services__list {
            display: block;
        }
        .services__item:not(:first-child) {
            border-left: none;
            border-top: 1px solid #d9d9d9;
        }
    }
}

@media (max-width: 545px) {
    .gallery__one-page {
        .gallery__wrapper {
            max-width: 330px;
        }
        .gallery__wrapper .gallery__thumb-inner>img {
            width: 145px;
            height: 145px;
        }
    }
}

@media (max-width: 520px) {
    .content__box-title {
     font-size: 128px;
    }
    .content__box-descr {
        font-size: 24px;
        margin-top: 20px;
    }
    .content__box-btn {
        margin-top: 50px;
    }
    .header__box-content {
        margin-top: 130px;
    }
    .content-page__title {
        font-size: 31px;
    }
    .content-page__descr {
        font-size: 24px;
    }
    .contact__pictures .happy__photo1, .contact__pictures .happy__photo2 {
        width: 240px;
        height: 160px;
    }
    .contact__pictures {
        height: 250px;
        right: 0;
    }
    .contact__photo1 {
        position: absolute;
        right: 0;
    }
    .contact__photo2 {
        left: 0;
    }
    .contact__pictures .happy__photo2 {
        top: 80px;
    }
    .contact__box,
    .contact__inner {
        text-align: right;
    }
    .form__fields {
        display: block;
        margin: 0;
    }
    .form__field {
        width: 100%;
        padding: 0;
    }
    .location-map iframe {
        height: 260px;
    }
    .about__pictures .reservation__photo2 {
        right: 0;
    }
    .reservations__box {
        padding: 150px 0 0;
    }
    .online__inner-fields .online__input-group {
        width: 100%;
    }
    .discoverers .contact__box-title {
        font-size: 38px;
    }
    .discoverers .contact__box {
        padding-top: 50px;
    }
    .discoverer {
        padding-top: 30px;
    }
    .tabs .tab+.tab {
        margin-left: 20px;
    }
    .about__pictures .about__photo1 {
        margin-right: 0;
    }
    .about__pictures .about__photo2 {
        left: 0;
    }
    .about__box {
        text-align: left;
    }
    .about2 .contact__box {
        margin-top: 90px;
        text-align: right;
    }
    .online-res .about__photo2  {
        margin-left: 0;
    }
    .online-res .reservations__box {
        padding: 0px ;
    }
    .menu__home {
        padding-bottom: 100px;
        .menu__pictures {
            .menu__photo1 {
                margin-right: 0;
            }
            .menu__photo2 {
                left: 0;
            }
        }
        .menu__box {
            text-align: left;
        }
    }
    .testimonial__home {
        .testimonial__img-wrapper img {
            width: 275px;
            height: 380px;
        }
        .testimonial__quote-content {
            font-size: 20px;
        }
        .testimonial__quote-name {
            font-size: 14px;
        }
    }
    .reservation__home {
        .reservation__pictures {
            .reservation__photo1 {
                margin-left: 0;
            }
            .reservation__photo2 {
                right: 0;
            }
        }
        .reservation__box {
            text-align: left;
        }
    }
    .about__box-title, .menu__box-title, .contact__box-title, .reservation__box-title, .services__inner-title {
        font-size: 38px;
    }
    .reservation__box-title, .about__box-title {
        letter-spacing: 5px;
    }
    .reservation__home {
        padding-bottom: 60px;
    }
    .blog__home {
        .blog__list .blog__posts-post {
            margin: 50px auto;
            width: 275px;
            height: 275px;
        }
        .blog__home .blog__list .blog__posts-post__inner:hover {
            transform: scale(1.05);
        }
    }
    .contact__home {
        .contact__box {
            margin-top: 70px;
        }
    }
    .contact__one-page {
        .contact__pictures {
            .contact__photo1 {
                margin-right: 0;
            }
            .contact__photo2 {
                left: 0;
            }
        }
        .contact__box {
            margin-top: 70px;
        }
    }
    .menu__one-page {
        padding-bottom: 30px;
    }
}

@media (max-width: 374px) {
    .about__pictures .reservation__photo2 {
        left: 30px;
    }
    .content-page__title {
        letter-spacing: 9px;
    }
    .tabs .tab+.tab {
        margin-left: 15px;
    }
    .tabs .tab {
        font-size: 10px;
    }
    .online-res .about__photo2  {
        left: 0;
    }
    .gallery__one-page {
        .gallery__wrapper {
            margin: 0 auto;
            max-width: 280px;
        }
        .gallery__wrapper .gallery__thumb-inner>img {
            width: 130px;
            height: 130px;
        }
        .gallery__thumb {
            margin: 3px;
            padding: 0px;
        }
    }
}



@media (min-width: 846px) {
    .menu__nav > ul {
        display: block !important;
    }
}