$poppy: #985e5b;
$text: #404040;
$title: #1e2633;

@mixin f300 {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

@mixin f500 {
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

@mixin f600 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

@mixin f700 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

@mixin axis {
    font-weight: 700;
    font-family: 'axis', sans-serif;
}

@mixin streetwear {
    font-family: 'Streetwear', cursive;
    font-weight: 400;
}